#username,
#password,
#naslov,
#tekst,
#uneo,
#kategorija {
  border-bottom: 1px solid white;
}

.wrapper {
  margin-top: 100px;
}

.formaZaPrijavu {
  margin-top: 20px;
}

.input-field label,
label.active {
  color: white !important;
}

.buttonPrijava:hover {
  opacity: 0.5;
}

#user-icon,
#pass-icon {
  padding-right: 100px;
}

#ulogovani {
  margin-right: 50px !important;
}

select:not(#kategorija) {
  display: inline-block;
  width: 50px;
}

#tabela_wrapper {
  margin-bottom: 50px;
  margin-top: 30px;
}

#dodajClanak {
  margin-left: 50px !important;
  margin-bottom: 40px !important;
}

#naslov {
  display: inline;
}

.intro {
  margin-top: 50px;
}

#logout {
  margin-right: 40px;
}

#clanakTekst {
  margin-bottom: 50px;
  margin-top: 40px;
  border: 2px solid #0066ff;
  padding: 20px;
  font-weight: 500;
  border-radius: 10px;
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-shadow: 0 1px 1px #000;
}

#spanDodao,
#spanKategorija {
  font-size: 20px;
  font-weight: bold;
}

#vratiSeBtn {
  margin-bottom: 50px;
}

#citat {
  font-style: italic;
  border-radius: 10px;
  border: solid black 1px;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
}

#regtext a {
  font-weight: bold;
}
